<!DOCTYPE html>
<html>
<head>
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>📱 Habit Tracker</h1>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Add new habit..." required>
        <button>Add</button>
    </form>

    <ul>
    {% for habit in habits %}
    <li>

    <strong>{{ habit[2] }}</strong><!--name-->
    🔥 Streak: {{ habit[3] }}

    <div class="progress">
        <div class="progress-bar" style="width: {{ habit[2]*10 }}%"></div>
    </div>

    <div style="margin-top: 8px;">
        <a class="done-btn" href="/done/{{ habit[0] }}">Done</a>
        <a class="edit-btn" href="/edit/{{ habit[0] }}">Edit</a>
        <a class="delete-btn" href="/delete/{{ habit[0] }}">Delete</a>
    </div>

</li>
    {% endfor %}
    </ul>
</div>

</body>
</html>