<!DOCTYPE html>
<html>
<head>
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>📱 Habit Tracker</h1>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Add new habit..." required>
        <button>Add</button>
    </form>

<ul>
{% for habit in habits %}
    <li>
        <strong>{{ habit[2] }}</strong><br>
        🔥 Streak: {{ habit[3] }}

        <a href="/done/{{ habit[0] }}">Done</a>
        <a href="/edit/{{ habit[0] }}">Edit</a>
        <a href="/delete/{{ habit[0] }}">Delete</a>
    </li>
{% endfor %}
</ul>
</div>

</body>
</html>